* {
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

header {
    font-weight: bold;
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    font-size: 155%;
    
}

h2{
    font-size: 125%;
}

h3{
    font-size: 100%;
    font-weight: bold;
}

button {
    width:fit-content;
    border: none;
    background-color: lightcyan;
    margin: 1px 15px 1px 0;
}

button:hover {
    box-shadow: 0 0 2px 2px purple;
}

tr {
    width: 20%;
}

.clock {
    float: right;
}

.quizBox {
    position: absolute;
    display: block;
    width: 60%;
    margin-left: 20%;
    align-self: center;
    text-align: center;
}

#questions {
    width: 100%;
    text-align: left;
    display: block;
}

#answers {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: start;
}

/* hides table element by default*/
table {
    display: none;
}


