* {
    font-family: 'Roboto', sans-serif;
}

header {
    font-weight: bold;
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    
}

.clock {
    float: right;
}