* {
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

header {
    font-weight: bold;
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    font-size: 155%;
    
}

h2{
    font-size: 125%;
}

.clock {
    float: right;
}

.quizBox {
    position: absolute;
    display: block;
    width: 60%;
    margin-left: 20%;
    align-self: center;
    text-align: center;
}

#questions {
    width: 100%;
    text-align: left;
}

#answers {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: start;
}
